/*Fuentes y estilos utilizadas en secciones del index.html*/
body .seccion-contacto, body .seccion-nosotros, body main .btn, body main .seccion-menu, body main .seccion-presentacion {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}

/*Estilos para la seccion de almuerzos.html*/
body main .grupo-2, body main .grupo-1 {
  display: flex;
  width: 90%;
  align-items: center;
  margin-left: 150px;
}

/*Settings generales*/
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /*Estilos index.html*/
  /*Mapa ubicacion GoogleMpas*/
}
body main .seccion-presentacion {
  background-image: url(./../Images/angelo-pantazis-2-U0A2tNYhM-unsplash-min.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-size: 20px;
  width: 90%;
  margin: auto;
  height: 500px;
  padding: 150px 0px;
  margin-top: 20px;
}
body main .seccion-menu {
  color: black;
  height: 300px;
  margin-top: 100px;
}
body main .btn {
  color: purple !important;
  border: 2px solid #2b145f;
  border-radius: 10px;
  margin: 1em;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}
body main .non-underline-link {
  text-decoration: none;
}
body .seccion-nosotros {
  background-image: url("./../Images/wade-austin-ellis-oL1qyesmg78-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 20px;
  height: 400px;
  width: 90%;
  margin: auto;
  padding: 150px 0px;
  color: white;
}
body .seccion-contacto {
  color: #424141;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  margin: auto;
}
body .inframe {
  width: 90%;
  margin: auto;
}

/*Fuentes y estilos utilizadas en secciones del index.html*/
body main .seccion-presentacion, body main .seccion-menu, body main .btn, body .seccion-nosotros, body .seccion-contacto {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}

/*Estilos para la seccion de almuerzos.html*/
body main .grupo-2, body main .grupo-1 {
  display: flex;
  width: 90%;
  align-items: center;
  margin-left: 150px;
}

/*Estilos Almuerzos.html*/
body main .grupo-1 {
  gap: 50px;
}
body main .grupo-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Estilos para el footer de todos los html*/
.footer {
  font-family: font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  text-align: justify;
  background-color: #424141;
  color: white;
  padding-top: 20px;
  align-items: center;
  padding-bottom: 15px;
}
.footer div .azul {
  color: turquoise;
}
.footer div .social {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 20px;
  padding-bottom: 15px;
}
.footer div .social-2 {
  background-color: #424141;
}

.titulo {
  color: #fcd529;
  text-align: center;
}

.tlt-yellow {
  color: #f8fc29;
}

.blanco {
  color: white;
}

/*Defino fuente de parrafo*/
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Titulos con color azul */
.azul {
  color: turquoise;
  text-align: center;
  font-size: 20px;
}

/*Estilos para fuentes en general*/
h2, h3 {
  text-align: left;
  font-family: "Abril Fatface", cursive;
  font-family: "Catamaran", sans-serif;
  color: #078175;
}

.menu {
  font-family: "Abril Fatface", cursive;
  font-family: "Catamaran", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  color: turquoise;
  display: flex;
  justify-content: center;
}

.menu-subtitulo {
  font-family: "Abril Fatface", cursive;
  font-family: "Catamaran", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query*/
/* Mobile*/
@media screen and (max-width: 480px) {
  /*Index.html*/
  #navbarSupportedContent, .navbar-toggler-icon, .navbar-toggler {
    display: none;
  }

  .header-inicio {
    font-size: 15px;
    justify-content: center;
    background-size: auto;
  }

  .seccion-presentacion {
    background-image: url(./Images/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }

  .seccion-menu {
    justify-content: center;
    width: 100%;
    height: 60px;
  }

  .img-brunch {
    display: none;
  }

  .button {
    display: none;
  }

  .seccion-nosotros {
    font-size: 15px;
  }

  .nosotros strong {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: white;
    margin: o auto;
  }

  .seccion-contacto {
    font-size: 13px;
  }

  /*Footer todas las paginas*/
  .footer {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    flex-direction: row;
  }

  .social-1, .social-2 {
    display: inline;
  }

  /*Brunch.html*/
  .carousel {
    /*display: none;*/
    display: inline-block;
  }

  /*Cafeteria.html*/
  .cafeteria {
    width: 100%;
    display: inline-block;
    font-size: 15px;
  }

  .imagenes-cafeteria {
    width: 60%;
  }

  .imagen-3, .imagen-2, .imagen-6, .imagen-9 {
    display: none;
  }
}
/*Screen*/
@media screen and (min-width: 426px) and (max-width: 1000px) {
  .seccion-nosotros {
    background-size: 1400px;
  }

  .seccion-menu {
    height: 200px;
  }

  #navbarSupportedContent, .navbar-toggler-icon, .button.navbar-toggler, .navbar-toggler, .img-brunch-1, .img-brunch, .imagen-9, .imagen-4, .imagen-8, .button {
    display: none;
  }
}
@media screen and (min-width: 1000) {
  .footer .container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
