
@import '../Base/_mixin';


/* Media Query*/

/* Mobile*/

@media screen and (max-width: 480px) {
    
/*Index.html*/

    #navbarSupportedContent, .navbar-toggler-icon, .navbar-toggler {
        display: none;
    }

    
    
    .header-inicio {
        font-size:15px ;
        justify-content: center;
        background-size: auto;
        

        
    }
    .seccion-presentacion {
        background-image:url(./Images/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
        text-align: center;
         @include varios-parametros(100%,flex,15px);
        justify-content: center;
        flex-direction: column;
        height: 400px;
      
        
    }

    .seccion-menu {
        justify-content: center;
      width: 100%;
      height: 60px;
      
    }

    .img-brunch {
        display: none;
    }


    .button{
        display: none;
    }

    .seccion-nosotros {
        font-size: 15px
        
        
    }
    .nosotros strong {
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        color: white;
        margin: o auto;
          }
    .seccion-contacto {
        font-size: 13px;
    }

    /*Footer todas las paginas*/
    .footer {
        @include varios-parametros (100%,inline-block,13px);
        flex-direction: row;
        
    }

    .social-1, .social-2 {
        display:inline;
    }
    
    /*Brunch.html*/
    .carousel  {
    /*display: none;*/
    display: inline-block;
     

    }
    
    /*Cafeteria.html*/
    .cafeteria {
        @include varios-parametros (100%, inline-block, 15px);
    }
    .imagenes-cafeteria{
        width: 60%;
    }
    .imagen-3, .imagen-2, .imagen-6, .imagen-9{
        display: none;
    }
   
}

/*Screen*/
@media screen and (min-width: 428px) and (max-width: 1000px) {
   
   .seccion-nosotros {
       background-size: 1400px;
   }
   .seccion-menu{
       height: 200px;
   }
  
   #navbarSupportedContent, .navbar-toggler-icon, .button.navbar-toggler, .navbar-toggler , .img-brunch-1, .img-brunch, .imagen-9, .imagen-4, .imagen-8, .button{
    display: none;
    
}


    
}




@media screen and (min-width: 1000){
   .footer .container{
       width: 100%;
    
  
    
  
   }
}
   